<!-- Это кусок кода (_partial), который вставляется в многие другие страницы одной строкой, чтобы не плодить код -->

<div class="email" style="font-size: 12px; font-weight: bold; margin: 20px">
  <p>По всем вопросам пишите на почту:</p>
  <%= mail_to 'dkrestt@gmail.com',
              'DKrestt@gmail.com',
     { style: 'color: brown;' }
  %>
</div>