<!DOCTYPE html>
<html>
<%= stylesheet_link_tag "home", media: "all" %>
<head>
  <meta charset="utf-8">
  <title>Home</title>
 </head>
 <body>
 <div class="container">
  <%= button_to 'into shop', items_path, method: :get, class: "animated-word" %>
</div>
 </body>
</html>